body {
    padding-top: auto;
    
    
}

.bar{
  display:flex;
  justify-content: center;
}
.bar div{
  margin: 3%;
}



.profile .imgcontainer{
  background-color: #3cb65a;
    text-align: center;
    word-spacing: normal;
    line-height: 1.6;
}

img{
  border-radius: 50%;
}

button {
  padding: 1px;
  color: white;
  background-color: #3cb65a;
  text-align: center;
  width: 25%;
  font-size: 18px;
}

.imgcontainer img{
  margin-top: 2%;
}

.stats{
    font-weight: bold;
}